{% extends "::base.html.twig" %}

{% block title %}Đăng nhập{% endblock %}

{% block extrahead %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="style_login.css" type="text/css" />
{% endblock %}

{% block body %}

  <form class="form-signin" action="{{ path('login') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <h1 class="h3 mb-3 font-weight-normal">Đăng nhập</h1>

  {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

      <label for="username" class="sr-only">username</label>
      <input type="text" id="username" name="_username" class="form-control" placeholder="Tên tài khoản" required autofocus>
      <label for="inputPassword" class="sr-only">password</label>
      <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Mật khẩu" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <p class="mt-5 mb-3 small text-muted"> </p>

  {% if allow_registration %}
  <div>Chưa có tài khoản? <a href="{{url('register', {}, true)}}"> Đăng ký</a>.</div>
  {% endif %}
  </form>

  {% include '::footer.html.twig' %}
{% endblock %}
